nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;

  .switch-lang {
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 5px;
    color: #ffffff;
    font-weight: 600;
    background: #4444FF;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 5px;
  }
}
.logo {
  width: 143px;
  height: 61px;

  @media (max-width: 768px) {
    width: 71px;
    height: 30px;
  }
}