.form {
  position: relative;
  width: 100%;

  &__input {
    width: 96%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;

    @media (max-width: 768px) {
      width: 92%;
    }
    @media (max-width: 320px) {
      width: 90%;
    }


    &:focus {
      border-color: #007bff;
      outline: none;
    }

    &::placeholder {
      color: #999;
    }
  }

  &__cities {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
  }

  &__selectedCity {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #f0f0f0;
    }
  }
}